@import '../colors';
@import '../variables';

.mat-form-field-infix {
    input {
        @apply backdrop-blur-lg;

        margin-top: $spacer / 2;
        padding: $spacer;
        border-radius: $spacer / 2;
        background-color: rgba($background-color, 0.8);
        text-align: center;
    }

    label {
        color: $white !important;
    }
}

.mat-form-field-underline {
    display: none !important;
}
