mat-icon.large {
    font-size: 20pt;
    width: 20pt;
    height: 20pt;
    line-height: 20px !important;
    vertical-align: middle;
    padding: 0;
}

mat-icon.small {
    font-size: 12pt;
    width: 12pt;
    height: 12pt;
    line-height: 12px;
    vertical-align: middle;
    padding: 0;
}

mat-icon.smaller {
    font-size: 10.5pt;
    width: 11pt;
    height: 10.5pt;
}
