<div
    class="
        bordered-block
        bordered-block--semi-transparent
        bordered-block--no-padding
        relative
    "
>
    <div *ngIf="tickets" class="absolute top-4 left-6">
        Total Tickets:
        <span class="font-bold ml-1">{{ tickets | formatValue: ' ' }}</span>
    </div>

    <div *ngIf="snapshotDate" class="absolute top-4 right-6">
        Snapshot as of:
        <span class="font-bold ml-1 mr-2"
            >{{ snapshotDate | date: 'yyyy-MM-dd HH:mm':'UTC' }} UTC</span
        >
    </div>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Leaderboard">
            <app-leaderboard [leaderboard]="leaderboard"></app-leaderboard>
        </mat-tab>

        <mat-tab label="Winners">
            <app-winners></app-winners>
        </mat-tab>

        <mat-tab label="Awards">
            <app-awards></app-awards>
        </mat-tab>
    </mat-tab-group>
</div>
