<div
    *ngIf="strategy || (!strategy && position.positionValueUsd > 5)"
    class="bordered-block bordered-block--internal mx-2 p-0 pb-3 px-3 my-5"
>
    <div class="flex justify-content-around items-center mb-2">
        <span class="w-1/2 text-xs">
            Leverage

            <span class="has-tooltip">
                <mat-icon
                    class="small cursor-pointer opacity-100 hover:opacity-50"
                    >info_outline</mat-icon
                >
                <span class="tooltip">
                    <app-tooltip
                        [header]="tooltip.leverageTooltipHeader"
                        [text]="tooltip.leverageTooltipText"
                    >
                    </app-tooltip>
                </span>
            </span>
        </span>

        <div class="w-1/2 text-xs text-right">
            <span
                (click)="
                    leverage ? leverage : (position.leverage = maxLeverage);
                    onLeverageChange(maxLeverage)
                "
                class="underline cursor-pointer"
                >Max: {{ maxLeverage }}x
            </span>
        </div>
    </div>

    <div class="flex justify-content-between items-center">
        <span class="w-1/2 text-left text-gray-400">
            {{ leverage ? leverage : position.leverage }}x</span
        >
        <span
            class="w-1/2 text-right cursor-pointer opacity-100 hover:opacity-75"
        >
            <mat-slider
                class="w-full"
                [class.opacity-0]="maxLeverage === 1"
                [value]="leverage ? leverage : position.leverage"
                (valueChange)="onLeverageChange($event)"
                [max]="maxLeverage"
                [min]="1.1 < maxLeverage ? 1.1 : maxLeverage"
                step=".01"
            ></mat-slider
        ></span>
    </div>
</div>
