@import '../../../styles/colors';
@import '../../../styles/variables';

@import '../../../styles/components/bordered-block';

.app-positions-list {
    &__tile {
        @apply m-1 py-4 p-0 cursor-pointer flex justify-center items-center;

        &--heading {
            @apply pt-0 px-2;
        }

        &--highlight {
            background: $block-internal-highlight-background;
        }
    }

    &__extra-container {
        @apply overflow-hidden max-h-0 cursor-default;

        margin-left: -$spacer / 4;
        margin-right: -$spacer / 4;

        transition: max-height .3s ease, margin-top .3s ease;

        &--open {
            @apply mt-4;

            max-height: 28 * $spacer;
        }
    }
}
