@import '../../../styles/variables';

.app-dialog {
    position: relative;

    &--no-padding {
        margin: -1.5 * $spacer;
    }  

    &__close {
        position: absolute;
        top: $spacer;
        right: -$spacer / 2;
        z-index: $z-index-top;
    }

    &--no-title {
        .app-dialog__close {
            top: $spacer / 4;
            right: $spacer / 4;
        }
    }
}
